#app{
	color:black;
	display:flex;
	justify-content:center;
	align-items:center;
}
.img{
	width:800px;
	height:500px;
	background-image:url(../img/1.jpg);
	background-size:100%;
	background-repeat:no-repeat;
}